:root{
  --dred:#a63f03;
  --red:#f23005;
  --lgreen:#65a603;
  --green:#3b7302;
  --lgrey:#d9d9d9;
  --blue:#2f5973;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.h1{
  font-size: 48px;
  font-weight: 600;
}
.heading{
  font-size: 43px;
}
.subtxt{
  font-size: 32px;
  font-weight: 600;
}
.bodytxt{
  font-size: 24px;
}
.suptxt{
  font-size: 18px;
}
.side-bar{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 25;
  width: 60%;
  height: 100vh;
  padding: 1rem;
  background-color: var(--blue);
}
.sb-1{
  margin: .5rem;

}
.sb-2{
  margin: .5rem;
}
.nav-bar{
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  align-items: baseline;
  z-index: 20;
  background: rgba(198, 197, 196, 0.3)
}
.nav-right{
  display: flex;
  align-items: baseline;
  margin-right: 1rem;
}
.nav-menu{
  display: flex;
  align-items: baseline;
}
.nav-link{
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  font-size: .9rem;
  color: white;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  margin-right: .2rem;
  padding: .4rem .6rem;
  border-radius: .4rem;
}
.nav-link:hover{
  background-color: green;
}
.logo{
  font-size: 48px;
  font-family: "Poppins",sans-serif;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 600;
  color: white;
  padding: .5rem;
}
.nav-btn{
  border-radius: .4rem;
  border-style: none;
  padding: .3rem .8rem;
  background-color: var(--dred);
  font-weight: 700;
  color: white;
  font-family: "Poppins",sans-serif;
  font-size: 1rem;
}
.nav-btn:hover{
  background-color: white;
  color: var(--green);
}
.nav-tgl{
  display: none;
}
.menu-btn{
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  width:24px;
  height: 24px;
  border-style: none;
  font-size: 1.5rem;
}

.hero-sec{
  background-color: transparent;
  height: 88vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.hero-txt{
  margin-top: 1rem;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: .1rem;
  z-index: 10;

}
.hero-txt1{
  padding: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}
.hero-txt2{
  padding: 2rem;
  font-family: "open sans",sans-serif;
  font-style: italic;
  margin-bottom: 1.5rem;
  text-align: center;
}
.hero-btn{
  background-color: var(--dred);
  color: white;
  border-radius: 1rem;
  padding: 1rem 1.3rem;
  font-size: 32px;
  font-weight: 600;
  font-family: "Poppins",sans-serif;
  transition: .5s;

}
.hero-btn:hover{
  transform: scale(1.1);
  background-color: green;
}
.hero-img1{
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  z-index: -12;
  width: 100vw;
  height: 100vh;
}

/* MOBILE Small devices such as large phones (640px and up) */

@media only screen and (max-width: 40em) {
  .logo{
    font-size: 20px;
    color: white;
  }
  .nav-menu{
    display: none;
    padding: .1rem;
  }
  .nav-btn{
    font-size: .5rem;
  }
  .nav-tgl{
    display: inline;
  }
  .h1{
    font-size: 48px;
    font-weight: 600;
  }
  .heading{
    font-size: 28px;
  }
  .subtxt{
    font-size: 32px;
    font-weight: 600;
  }
  .bodytxt{
    font-size: 24px;
  }
  .suptxt{
    font-size: 18px;
  }
}

/* TABLET Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 40em) and (max-width:63em){
  .logo{
    font-size: 38px;
    color: white;
  }
  .nav-link{
    font-size: .7rem;
  }
  .nav-btn{
    font-size: .7rem;
  }

}
