:root{
  --dred:#a63f03;
  --red:#f23005;
  --lgreen:#65a603;
  --green:#3b7302;
  --lgrey:#d9d9d9;
  --blue:#2f5973;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.h1{
  font-size: 48px;
  font-weight: 600;
}
.heading{
  font-size: 43px;
  margin-bottom: 1rem;
}
.subtxt{
  font-size: 32px;
  font-weight: 600;
}
.bodytxt{
  font-size: 24px;
}
.suptxt{
  font-size: 18px;
}
.side-bar{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 25;
  width: 60%;
  height: 100vh;
  padding: 1rem;
  background-color: var(--blue);
}
.sb-1{
  margin: .5rem;

}
.sb-2{
  margin: .5rem;
}
.nav-bar{
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  align-items: baseline;
  z-index: 20;
  background: rgba(198, 197, 196, 0.3)
}
.nav-right{
  display: flex;
  align-items: baseline;
  margin-right: 1rem;
}
.nav-menu{
  display: flex;
  align-items: baseline;
}
.nav-link{
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  font-size: .9rem;
  color: white;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  margin-right: .2rem;
  padding: .4rem .6rem;
  border-radius: .4rem;
}
.nav-link:hover{
  background-color: green;
}
.logo{
  font-size: 48px;
  font-family: "Poppins",sans-serif;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 600;
  color: white;
  padding: .5rem;
}
.nav-btn{
  border-radius: .4rem;
  border-style: none;
  padding: .3rem .8rem;
  background-color: var(--dred);
  font-weight: 700;
  color: white;
  font-family: "Poppins",sans-serif;
  font-size: 1rem;
}
.nav-btn:hover{
  background-color: white;
  color: var(--green);
}
.nav-tgl{
  display: none;
}
.menu-btn{
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  width:24px;
  height: 24px;
  border-style: none;
  font-size: 1.5rem;
}

.hero-sec{
  background-color: transparent;
  height: 88vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.hero-txt{
  margin-top: 1rem;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: .1rem;
  z-index: 10;

}
.hero-txt1{
  padding: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}
.hero-txt2{
  padding: 2rem;
  font-family: "open sans",sans-serif;
  font-style: italic;
  margin-bottom: 1.5rem;
  text-align: center;
}
.hero-btn{
  background-color: var(--dred);
  color: white;
  border-radius: 1rem;
  padding: 1rem 1.3rem;
  font-size: 32px;
  font-weight: 600;
  border-style: none;
  font-family: "Poppins",sans-serif;
  transition: .5s;

}
.hero-btn:hover{
  transform: scale(1.1);
  background-color: green;
}
.hero-img1{
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  z-index: -12;
  width: 100%;
  height: 102vh;
}
.items{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.subtitle-txt{
  width: 100%;
  padding-left:3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.product{
  background-color:white;
  color: #000000;
  padding: 3rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.sec-items{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;


}
.meal-card{
  width: 100px;
  height: 150px;
  background-color: transparent;
  display: flex;
  margin: 2rem 2rem 0rem 0rem;
  flex-direction: column;
  align-items: center;
  transition: .05s;
}
.meal-card:hover{
  transform: scale(1.1);
}
.meal-img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}
.pro-btn{
  border-radius: .4rem;
  width: 80%;
  border-style: none;
  background-color:#f23005;
  color: white;
  padding: .6rem .8rem;
  margin-top: 3rem;
}
.pro-btn:hover{
  background-color:#65a603;

}
.about-sec{
  background-color:#3b7302;
  color:#d9d9d9;
  padding-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;

}
.moto-img{
  width: 130px;
  height: 130px;
  border-radius: 100%;
  object-fit: cover;
  padding: .5rem;
}
.moto-txt{
  padding: .5rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.moto{
width: 80%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.contact-sec{
  background-color:var(--blue);
  color:var(--lgrey);
  padding: 3rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.feedback{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: start;
}
.msg{
  width: 40%;
  padding: 1rem;
}
.contact{
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.phone{
  padding: 1rem;
  
}
.phone1{
  margin-top: .4rem;
  display: flex;
  flex-direction: row;
  column-gap: .6rem;
  align-items: start;
  text-decoration: none;
  color: #d9d9d9;
}
.social-media{
  padding: 1rem;

}
.media-icons{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: start;
  margin-left: 5rem;
}
.media-icons>a{
  text-decoration: none;
  color: #d9d9d9;
}
.form{
  display:flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  border: var(--lgrey) solid;
  border-radius: .5rem;
  margin: 2rem 0rem;
  
}
.form >*{
  margin: .3rem;
}
.form>input:focus{
  border: .1rem solid var(--lgreen) ;
  font-size: .8rem;
  color: white;
  
}
.form>textarea:focus{
  border: .1rem solid var(--lgreen) ;
  color: white;
  font-size: .8rem;
}
.form>label{
  font-weight: 500;
  font-size: .9rem;
}
.form >input{
  border-radius: .3rem;
  background-color: transparent;
  height: 1.5rem;
  border: .1rem solid var(--lgrey)  ;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none; 
}
.form>textarea{
  border-radius: .3rem;
  background-color: transparent;
  border: .1rem solid var(--lgrey) ;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.formBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}
.formBtn>button{
  font-weight: 600;
  font-size: 1rem;
  padding: .3rem 1rem;
  border-radius: .3rem;
  border-style: none;
  color: white; 
  margin: .8rem 2rem .3rem 0rem; 
}
.subBtn{
  background-color:var(--green);
}
.subBtn:hover{
  background-color:var(--lgreen);
  color: white;

}
.clrBtn{
  background-color: var(--dred);
}
.clrBtn:hover{
  background-color:var(--red);
  color:white;
}
/* MOBILE Small devices such as large phones (640px and up) */

@media only screen and (max-width: 40em) {
  .logo{
    font-size: 20px;
    color: white;
  }
  .nav-menu{
    display: none;
    padding: .1rem;
  }
  .nav-btn{
    font-size: .5rem;
  }
  .nav-tgl{
    display: inline;
  }
  .h1{
    font-size: 48px;
    font-weight: 600;
  }
  .heading{
    font-size: 28px;
  }
  .subtxt{
    font-size: 32px;
    font-weight: 600;
  }
  .bodytxt{
    font-size: 24px;
  }
  .suptxt{
    font-size: 18px;
  }
}

/* TABLET Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 40em) and (max-width:63em){
  .logo{
    font-size: 38px;
    color: white;
  }
  .nav-link{
    font-size: .7rem;
  }
  .nav-btn{
    font-size: .7rem;
  }

}
